<footer class="footer p-3">
    <div class="row d-flex justify-content-around">
        <div class="col-5 p-2">
            <h6 class="text-center text-capitalize">Contact</h6>
            <p class="text-center">You can reach us at: <br />
                <a href="mailto:zhibet@google.com">zhibet@google.com</a>
            </p>
        </div>
        <div class="col-5 p-2">
            <h6 class="text-center text-capitalize">Social Media</h6>
            <ul class="list-unstyled justify-content-around d-flex flex-row">
                <li>
                    Facebook 
                    <a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F" target="_blank" aria-label="Facebook" class="ms-1">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li>
                    Twitter 
                    <a href="https://x.com/?lang=en" target="_blank" aria-label="Twitter" class="ms-1">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                </li>
                <li>
                    Instagram 
                    <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram" class="ms-1">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
            </ul>                       
        </div>
    </div>
</footer>
