<% if (data.length > 0) { %>
    <div class="col-11 col-md-6 mx-auto mt-3 card p-3 text-center">
        <h4 class="mb-3">All Stored Passwords:</h4>
        <% data.forEach(password => { %>
            <p>
                <strong><%= password.website %>:</strong>
                <% if (SignedIn) { %> 
                    <span class="password-text"><%= password.password %></span>
                    <i class="bi bi-clipboard copy-btn" data-password="<%= password.password %>"></i>
                <% } else { %> 
                    <em><a href="/login">Sign in to view the password</a></em>
                <% } %>
            </p>
        <% }) %>
    </div>
<% } %>
